<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>mactun.es</title>
		<link rel="stylesheet" media="screen" href="stylesheets/desktop.css">
	</head>
	<body>
		<div id="container">
			<nav>
				<ul id="navigation">
					<li><a href="apps.html" class="left-link">apps</a></li>
					<li><a href="index.html" class="left-link">blog</a></li>
					<li>
						<a href="http://mactun.es">
							<img src="media/logo_compact.png" alt="mactun.es Logo" />
						</a>
					</li>
					<li><a href="contact.html" class="right-link">contact</a></li>
					<li><a href="about.html" class="active right-link">about</a></li>
				</ul>
			</nav>

			<hr />

			<section>
				<article>
					<header>
						<h1>Hi there!</h1>
					</header>
					<p>
						I'm Rudy Norff and I write smartphone apps and other little goodies for a large telecommunications company in Düsseldorf, Germany.
					</p>
					<p>
						I am intersted in all things science and especially in the latest space endeavours, love hacking on small embedded things and am working on an OpenGL ES 2.0 game when time allows for it.
					</p>
					<p>
						Besides all of this I am a volunteer firefighter.
					</p>
				</article>
			</section>
		</div>
	</body>
</html>