<!doctype html>
<html lang="en-us">
	<head>
		<title>mactun.es</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="
              width=device-width, 
              initial-scale=1.0, 
              minimum-scale=1.0, 
              maximum-scale=1.0, 
              user-scalable=0,
              target-densitydpi=device-dpi" />

		<link rel="stylesheet" media="screen" href="stylesheets/desktop.css" />
		<link rel="stylesheet" href="stylesheets/mobile.css" media="screen and (min-device-width : 320px) and (max-device-width : 479px)"  />

		// TODO include apple touch icon 
	</head>
	<body>
		<div id="container">
			<header id="navigation">
				<a href="apps.html" class="left-link">apps</a>
				<a href="index.html" class="left-link">blog</a>
				<a href="http://mactun.es">
					<img src="media/logo_compact.png" alt="mactun.es Logo" />
				</a>
				<a href="about.html"  class="right-link">about</a>
				<a href="contact.html" class="right-link">contact</a>
			</header>

			<hr />

			<section>
				
			</section>
		</div>
	</body>
</html>