<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>mactun.es</title>
		<link rel="stylesheet" media="screen" href="stylesheets/desktop.css">
	</head>
	<body>
		<div id="container">
			<header id="navigation">
				<a href="apps.html" class="left-link">apps</a>
				<a href="index.html" class="left-link">blog</a>
				<a href="http://mactun.es">
					<img src="media/logo_compact.png" alt="mactun.es Logo" />
				</a>
				<a href="about.html"  class="right-link">about</a>
				<a href="contact.html" class="right-link">contact</a>
			</header>

			<hr />

			<section>
				
			</section>
		</div>
	</body>
</html>