body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.9em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

blockquote {
  margin: 0 18px 0 18px;
  color: #666666;
  padding-left: 10px;
  border-left: 3px solid #EEEEEE;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

hr {
  background: url(../media/separator.png) no-repeat top center;
  height: 5px;
  margin: 0 0 70px 0;
  border: none !important;
}

pre {
  overflow-x: scroll;
  background-color: #F8F8F8;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}

code {
  font-size: 13px;
  line-height: 19px;
}

a, img {
  border: none;
}

img {
  max-width: 640px;
}

#container {
	width: 640px;
	margin: 0 auto 70px auto;
}

#navigation {
	margin: 35px 0 25px 0;
  padding: 0;
	text-align: center;
  list-style-type: none;
}

#navigation img {
  width: 46px;
  opacity: 0;

  -webkit-animation: logo-animator 5s;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
}

#navigation li {
  display: inline;
}

#navigation li a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

#navigation a.active {
  color: #000000;
}

article header {
  margin-top: 35px;
  font-family: Helvetica, Arial, sans-serif;
}

article header h1 {
  margin: 22px 0 22px 0;
  display: inline-block;
  line-height: 1em;
}

article header h1 a {
  color: #000000;
}

article header span {
  margin: 26px 0 26px 0;
  float: right;
  color: #D4D4D4;
  font-size: 16px;
  line-height: 1em;
}

.post-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.post-text a {
  text-decoration: underline;
}

.summary-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  color: #A0A0A0;
  text-align: justify;
  margin-bottom: 20px;
}

.left-link {
  float: left;
  margin-right: 60px;
}

.right-link {
	float: right;
	margin-left: 60px;
}












@-webkit-keyframes logo-animator {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}